.content {
  font-family: 'Lato';

  p {
    color: rgba(0,0,0,.6);
    font-size: 1.625rem;
    vertical-align: bottom;
    line-height: 1.625;
  }

  h2 {
    margin-top: 50px;
    font-size: 3.2rem;
    font-family: 'Playfair Display', serif;
  }
}