.paper {
  position: relative;
  max-width: 960px;
  margin: 25px auto 25px auto;
  padding: 55px 80px;
  background-color: #fff;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.16);

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 85px;
    width: 100%;
    background: #fd6c67;
    background: -webkit-gradient(linear, left top, right bottom, color-stop(1%, #fd6c67), color-stop(100%, #FD803A));
    background: -webkit-linear-gradient(-75deg, #fd6c67 1%, #FD803A 100%);
    background: -webkit-linear-gradient(315deg, #fd6c67 1%, #FD803A 100%);
    background: linear-gradient(135deg, #fd6c67 1%, #FD803A 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$first, endColorstr=$second,GradientType=1 );
  }

  .paper-main-heading {
    font-size: 6.2rem;
    line-height: 1;
    margin: 80px auto 20px;
  }

  .paper-writing {
    max-width: 720px;
    margin: 0 auto;
    color: #111;

    a {
      font-size: 1.6rem;
      display: block;
    }
  }

  .paper-break-g {
    height: 5px;
    width: 180px;
    margin-bottom: 50px;
    background-color: #fd6c67;
  }

  .paper-break-r {
    height: 5px;
    width: 180px;

    margin-bottom: 50px;
    background-color: #FD803A;
  }
}